Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/src/test/groovy/bs/Bs100Spec.groovy
/src/test/groovy/bs/Bs101Spec.groovy
/src/test/groovy/bs/Bs102Spec.groovy
/src/test/groovy/bs/Bs103Spec.groovy
/src/test/groovy/bs/Bs200Spec.groovy
/src/test/groovy/bs/Bs201Spec.groovy
/src/test/groovy/bs/Bs202Spec.groovy
/src/test/groovy/bs/Bs203Spec.groovy
/src/test/groovy/bs/BsAppListSpec.groovy
/src/test/groovy/bs/BsHoldaySpec.groovy
/src/test/groovy/bs/BsI18Spec.groovy
/src/test/groovy/ex/Ex100ControllerSpec.groovy
/src/test/groovy/ex/Ex100ServiceSpec.groovy
/src/test/groovy/ex/Ex100Spec.groovy
/src/test/groovy/sys/InformationControllerSpec.groovy
/src/test/groovy/webBaseFunction/IconTagLibSpec.groovy
